{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="w-full flex justify-center mt-20 ">
    <form method="post" action="{% url 'login' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" name="username" required type="text" placeholder="Username">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input name="password"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="password" required placeholder="******************">
        </div>
        {% if form.non_field_errors %}
        <div class="non-field-errors">
            {% for err in form.non_field_errors %}
            <p class="form-error">{{ err }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="flex items-center justify-between">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Login
            </button>
        </div>
    </form>
</div>
<!-- <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form> -->
{% endblock %}