{% extends "base.html" %}

{% block title %}Book details{% endblock %}

{% block content %}
    <div class="w-full flex justify-center mt-12 " >
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" >
            <h1 class="text-2xl pb-6 " >{{book.title}}</h1>
            <a class="rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"href="{% url 'books:book_update' pk=book.id %}">Update</a>
            <a class="rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" href="{% url 'books:book_delete' pk=book.id %}">Delete</a>
            <div class="flex flex-row mt-8 " >
                <img class="max-h-96 max-w-96 " src="{{book.image.url}}" alt="Cover image">
                <p class="ml-2 " >{{book.synopsis}}</p>
            </div>
        </div>
    </div>
{% endblock %}